    {% assign selected_collection = collections['featured-products'] %}
    {% if selected_collection.products_count>10 %}
        <h3 style="text-align:center">We have an amazing selection of featured products!</h3>
        {%else%}
        <h3 style="text-align:center">Check out our exclusive featured products!</h3>
      {% endif %}
<div class="product-grid">
    
    {% for product in selected_collection.products %}
      <div style="padding:10px;text-align:center;box-shadow:3px 3px 5px rgb(0,0,0,0.1);  %}">
        <a href="{{ product.url }}" style="text-decoration:none;">
          <img
            alt="{{ product.alt }}"
            src="{{ product.featured_image | img_url:'small'}}"
            width="200px"
            height="200px"
          >
          <h4>{{ product.title | capitalize }}</h4>
          
          <h4>{{ product.price | money }}</h4>
        </a>
  </div>
    {% endfor %}
  </div>
  {% style %}
    .product-grid{
      display:grid;
      grid-template-columns:1fr 1fr 1fr 1fr;
      gap:20px;
    }
  {% endstyle %}
  {% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose a collection"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured Products"
      }
    ]
  }
  {% endschema %}
  