<div class="container" style="">
  {% for collection in collections %}
    <a href="{{collection.url}}" alt="collection.title">
    <div class="inner">
      <img
        alt="{{ collection.alt }}"
        src="{{ collection.featured_image | img_url:'large'}}"
        width="{{ collection.width }}"
        height="{{ collection.height }}"
        style="display:block"
      >
      <a style="text-decoration:none" href="{{ collection.url }}">{{collection.title}}</a>
    </div>
  </a>
  {% else %}
    <h2>No Collections</h2>
  {% endfor %}
  </div>
  {%  style %}
    .container{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      justify-content:space-around;
    }
    .conatiner a{
      width:400px;
      height:400px;
      text-decoration:none
    }
    
    .inner{
      display:flex;
      flex-direction:column;
      align-items:center;
      border:1px solid black;
      margin:20px;
      padding:10px;
      box-shadow:2px 2px 4px rgb(0,0,0,0.1);
    }
    .inner a{
      margin-top:30px;
      color:black;
    }
  {% endstyle %}
  {% schema %}
  {
    "name": "t:sections.main-list-collections.name",
    "class": "section",
    "settings": [
      
    ]
  }
  {% endschema %}
  